body{
    background-color: grey;
}





.mainDiv{
    width:40%;
    height:100%;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding:2rem;
    border: 2px solid black;
}

.deck{
    height:800px;
}

#ToDoList {
    display: flex;
    justify-content: center;
    
  }


.imgMTGcard{
    display:none;
    z-index:1;
    width:200px;
    height: auto;
    position:absolute;
    left: 40px;
}

.nameMTGcard{
    position: relative;
    color:gold;
    border: 0.5px dotted gold;
    list-style: none;
}

.cardList{

    text-decoration: none;
}

.nameMTGcard:hover .imgMTGcard{
    display: block;


}

.imgcard:hover{
    display:none;
}

.imgcard{
    width:300px;
    height:auto;
    border-radius: 14px;
}